<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.fnlibrary2" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-sdk android:minSdkVersion="21" />

</manifest>