<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.fncore.fncoresample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="32" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="false"
        android:name="rs.fncore2.example.Core"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="rs.fncore2.example.Main" android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="rs.fncore2.example.SellOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name="rs.fncore2.example.CorrectionActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>
